.TableOfCards {
  height: 85vh;

  display: flex; /* To center the ImageCards-container */
  justify-content: center;
  align-items: center;

  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-color: rgb(41, 41, 41);
}

.TableOfCards__ImageCards-container {
  width: 90%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: max(20px, 2vw);

  /* To add depth to the flipping of the ImageCards. It make the flipping look better, more realistic. */
  perspective: 1000px;
  /* Careful here with changing the animation timing or 'forwards'. This animation is highly dependant on the timing of the animation set on GameEndedBackground component. This animation is also dependant on the setTimout time set in the TableOfCards component, inside the verifyIfGameEnded() function that sets gameEnded state to false. */
  animation: appearImageCardsContainer 1.5s ease-in-out forwards;
}
