.App {
  height: 100dvh;
  /* To center the table of cards */
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: background-color 0.75s; /* This will smoothly transition the background colors between the red and blue background colors */
}
